pkgbase = fbxkb
	pkgdesc = Keyboard indicator and switcher
	pkgver = 1.0.0
	pkgrel = 1
	url = http://fbxkb.sourceforge.net/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = git
	depends = gtk2
	depends = libxmu
	source = git+https://github.com/aanatoly/fbxkb.git#tag=1.0.0
	md5sums = SKIP
	depends_x86_64 = gdk-pixbuf-xlib

pkgname = fbxkb
